.header{
    height: 100px;
    background-color: beige;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav__ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.submenu__header{
    display: none;
}

.com__submenu:hover .submenu__header{
    display: block;
    text-decoration: none;
    
}
